* {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #E84545;
   }


body {
    background-color: #2B2E4A;
    overflow: hidden;
      }

#background {
        position: fixed;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 50%;
        background-color: #903749;
        z-index: -999;
    }

.title {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 250%;
  font-weight: bold;
}
.container {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;

    background-color: #53354A;
    
    }

.inner {
    position: absolute;
    left: 3%;
    right: 3%;
    top: 3%;
    bottom: 0%;
    background-color: #2B2E4A;
    display: flex;      
    }


.text-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  height: 100%;
  word-wrap: break-word;
      }
      
.image-ctn {

    width: 40%;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
      }
img {

    max-height:77vh ;
    max-width: 65vh;
}
    
      
      .slide-container {
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        display: flex;
        overflow-y: hidden;
      }
      
      .slide {
        display: flex;
        scroll-snap-align: end;
        min-width: 100%;
        height: 77vh;
        display: flex;
      }
      